<table class="pari-box">
    <thead>
        <tr class="title">
            <th colspan="2">
                {{ pari.name }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="pari-box-item">
            <td class="num-cell"> W </td>
            <td class="cote-cell" style="font-size: 2vh; opacity: 0.8;"> COTE </td>
        </tr>
        <tr class="pari-box-item" *ngFor="let cotation of pari.cotations">
            <td class="num-cell"> {{ cotation.numItem }} </td>
            <td class="cote-cell" *ngIf="cotation.cote === 0"> </td>
            <td class="cote-cell" *ngIf="cotation.cote !== 0"> {{ cotation.cote }} </td>
        </tr>
    </tbody>
</table>