<div class="layout">
    <div class="d-flex flex-row">
      <div class="simulator-container d-flex flex-center justify-content-center">
          <app-balls-container [ballContainerRadius]="12" [ballRadius]="1.2"></app-balls-container>
      </div>
      <div class="jackpot-block d-flex flex-column justify-content-between align-items-center">
          <div class="jackpot-label">
              jackpot
          </div>
          <div class="jackpot-value">
              {{jackpot | number:'1.0-0'}}
          </div>
      </div>
      <div class="last-tirage-block">
          <div class="title">DERNIER TIRAGE</div>
          <div class="d-flex flex-row">
              <div class="column-centered">
                  <div class="title">
                      Super1bet
                  </div>
                  <div class="id-num">
                      ID: 7845
                  </div>
                  <div class="time">
                      17: 03
                  </div>
                  <div class="value">
                      3710.25
                  </div>
              </div>
              <div class="column-centered">
                  <div class="title">
                      Super1bet
                  </div>
                  <div class="id-num">
                      ID: 7845
                  </div>
                  <div class="time">
                      17: 03
                  </div>
                  <div class="value">
                      3710.25
                  </div>
              </div>
              <div class="column-centered">
                  <div class="title">
                      Super1bet
                  </div>
                  <div class="id-num">
                      ID: 7845
                  </div>
                  <div class="time">
                      17: 03
                  </div>
                  <div class="value">
                      3710.25
                  </div>
              </div>
          </div>
      </div>
      <div class="block-time-with-title">
          <div class="block-title">
              Super1Bet
          </div>
          <div class="block-time d-flex flex-column justify-content-between align-items-center">
              <div class="label">time</div>
              <div class="value">{{ secondsRemaining }}</div>
          </div>
      </div>
  </div>
  <div class="tirages-block">
      <div class="tirage-row-data d-flex flex-row align-items-center" *ngFor="let tirage of mestirages">
          <span class="fs-small">{{ tirage.numero }}</span>
          <span class="fs-small">{{ tirage.dateHeure }} </span>
          <div *ngFor="let num of tirage.listeBoules" class="square-num">
              {{num}}
          </div>
          <div class="square-multi">{{tirage.multiplicateur}}</div>
      </div>
  </div>
  <div class="d-flex flex-row">
      <div class="left-block">
          <div class="box-container">
              <div class="top-box">
                  Nombre fréquemment le plus tiré
              </div>
              <div class="body-box d-flex flex-row">
                  <div class="box-item-col labels-3">
                      <span class="label-title faded">temp</span>
                      <span class="label-title faded">numero</span>
                  </div>
                  <div class="box-item-col value-onefive" *ngFor="let numb of boulesPlusTirees;let i=index;">
                      <span class="fs-small faded"> X{{ i+1 }} </span>
                      <span class="num-ball-val"> {{ numb.numboule }} </span>
                  </div>
              </div>
          </div>
          <div class="box-container">
              <div class="top-box">
                  Nombre fréquemment pas tiré
              </div>
              <div class="body-box d-flex flex-row">
                  <div class="box-item-col labels-3">
                      <span class="label-title faded">temp</span>
                      <span class="label-title faded">numero</span>
                  </div>
                  <div class="box-item-col value-onefive" *ngFor="let data of boulesMoinsTirees;let i=index;">
                      <span class="fs-small faded"> X{{ i+1 }} </span>
                      <span class="num-ball-val"> {{ data.numboule }} </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="right-block">
          <div class="box-container">
              <div class="top-box">
                  Numéro le plus tiré dans les 10 derniers tirages
              </div>
              <div class="body-box d-flex flex-row">
                  <div class="box-item-col labels-1">
                      <span class="label-title faded">temp</span>
                      <span class="label-title faded">numero</span>
                  </div>
                  <div class="box-item-col values" *ngFor="let data of boulesPlusTirees;let i=index;">
                      <span class="fs-small faded"> X {{ i+1 }}</span> 
                      <span class="num-ball-val"> {{ data.numboule }} </span>
                  </div>
              </div>
          </div>
          <div class="box-container">
              <div class="top-box">
                  12 derniers multiplicateurs
              </div>
              <div class="body-box d-flex flex-row">
                  <div class="box-item-col labels-2">
                      <span class="label-title faded">heure</span>
                      <span class="label-title faded">multi</span>
                  </div>
                  <div class="box-item-col values" *ngFor="let multi of multiplicateurs;">
                      <span class="fs-small faded">{{ multi.dateHeure}}</span>
                      <span class="multi-val">{{ multi.multiplicateur }}</span>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>


<!--<div class="layout">
      <div class="d-flex flex-row">
        <div class="simulator-container d-flex flex-center justify-content-center">
            <app-balls-container [ballContainerRadius]="12" [ballRadius]="1.2"></app-balls-container>
        </div>
        <div class="jackpot-block d-flex flex-column justify-content-between align-items-center">
            <div class="jackpot-label">
                jackpot
            </div>
            <div class="jackpot-value">
                {{jackpot}}
            </div>
        </div>
        <div class="last-tirage-block">
            <div class="title">DERNIER TIRAGE</div>
            <div class="d-flex flex-row">
                <div class="column-centered">
                    <div class="title">
                        Superbet
                    </div>
                    <div class="id-num">
                        ID: 7845
                    </div>
                    <div class="time">
                        17: 03
                    </div>
                    <div class="value">
                        3710.25
                    </div>
                </div>
                <div class="column-centered">
                    <div class="title">
                        Superbet
                    </div>
                    <div class="id-num">
                        ID: 7845
                    </div>
                    <div class="time">
                        17: 03
                    </div>
                    <div class="value">
                        3710.25
                    </div>
                </div>
                <div class="column-centered">
                    <div class="title">
                        Superbet
                    </div>
                    <div class="id-num">
                        ID: 7845
                    </div>
                    <div class="time">
                        17: 03
                    </div>
                    <div class="value">
                        3710.25
                    </div>
                </div>
            </div>
        </div>
        <div class="block-time-with-title">
            <div class="block-title">
                Super1Bet
            </div>
            <div class="block-time d-flex flex-column justify-content-between align-items-center">
                <div class="label">time</div>
                <div class="value">{{ secondsRemaining }}</div>
            </div>
        </div>
    </div>
    <div class="tirages-block">
        <div class="tirage-row-data d-flex flex-row align-items-center" *ngFor="let tirage of tirages">
            <span class="fs-small">{{ tirage.numero }}</span>
            <span class="fs-small">{{ tirage.dateHeure | date:'HH:mm' }} </span>
            <div *ngFor="let num of tirage.listeBoules" class="square-num">
                {{num}}
            </div>
            <div class="square-multi">{{multiplicateur}}</div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="left-block">
            <div class="box-container">
                <div class="top-box">
                    Nombre fréquemment le plus tiré
                </div>
                <div class="body-box d-flex flex-row">
                    <div class="box-item-col labels-3">
                        <span class="label-title faded">temp</span>
                        <span class="label-title faded">numero</span>
                    </div>
                    <div class="box-item-col value-onefive" *ngFor="let numb of fiveMostGetNumbers;">
                        <span class="fs-small faded"> X{{ numb.nbTimes }} </span>
                        <span class="num-ball-val"> {{ numb.num }} </span>
                    </div>
                </div>
            </div>
            <div class="box-container">
                <div class="top-box">
                    Nombre fréquemment pas tiré
                </div>
                <div class="body-box d-flex flex-row">
                    <div class="box-item-col labels-3">
                        <span class="label-title faded">temp</span>
                        <span class="label-title faded">numero</span>
                    </div>
                    <div class="box-item-col value-onefive" *ngFor="let numb of fiveLessGetNumbers;">
                        <span class="fs-small faded"> X{{ numb.nbTimes }} </span>
                        <span class="num-ball-val"> {{ numb.num }} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-block">
            <div class="box-container">
                <div class="top-box">
                    Numéro le plus tiré dans les 10 derniers tirages
                </div>
                <div class="body-box d-flex flex-row">
                    <div class="box-item-col labels-1">
                        <span class="label-title faded">temp</span>
                        <span class="label-title faded">numero</span>
                    </div>
                    <div class="box-item-col values" *ngFor="let numb of mostGetNumbers;">
                        <span class="fs-small faded"> X </span> 
                        <span class="num-ball-val"> {{ numb.num }} </span>
                    </div>
                </div>
            </div>
            <div class="box-container">
                <div class="top-box">
                    12 derniers multiplicateurs
                </div>
                <div class="body-box d-flex flex-row">
                    <div class="box-item-col labels-2">
                        <span class="label-title faded">heure</span>
                        <span class="label-title faded">multi</span>
                    </div>
                    <div class="box-item-col values" *ngFor="let multi of twelvesMulti;">
                        <span class="fs-small faded">{{ multi.date | date:'HH:mm' }}</span>
                        <span class="multi-val">{{ multi.multiValue }}</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
-->