<div class="container-fluid indigo lighten-5">
    <div class="d-flex flex-column">
        <div class="header-block d-flex flex-row justify-content-around align-items-center">
            <div class="header-item d-flex flex-column justify-content-between align-items-center">
                <div class="label">USER</div>
                <div class="value">ANNIE</div>
            </div>
            <div class="header-item d-flex flex-column justify-content-between align-items-center">
                <div class="label">Airtime</div>
                <div class="value">20 022 202 FCFA</div>
            </div>
            <div class="header-item d-flex flex-column justify-content-between align-items-center">
                <div class="label">Date et Heure</div>
                <div class="value">21 Juillet 2013, 21:12:15 </div>
            </div>
            <div class="header-item d-flex flex-column justify-content-between align-items-center">
                <div class="label">Compteur de temps</div>
                <div class="value"> 185 </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <div class="block-pari-select">
                <div class="bordered-box">
                    <div class="pari-select-form">
                        <div class="title-block indigo lighten-5 text-left">
                            Choix pari
                        </div>
                        <div class="form-group row mb-3">
                            <label for="bet-name" class="col-sm-3 col-form-label">Pari</label>
                            <div class="col-sm-9">
                                <input mdbInput type="text" id="bet-name" class="form-control" [(ngModel)]="pariSelectedName" disabled>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="bet-code" class="col-sm-3 col-form-label">Sélection</label>
                            <div class="col-sm-9">
                                <input mdbInput type="text" id="bet-code" class="form-control" [(ngModel)]="codePari" (keyup)="onEnterPress($event)">
                                <!-- <button class="rounded-fill-button color-ok">Valider</button>
                                <button class="rounded-fill-button color-cancel">Annuler</button> -->
                            </div>
                        </div>

                    </div>
                    <div class="row mb-5">
                        <button mdbBtn type="button" color="info" class="custom-length" size="sm" mdbWavesEffect>Annuler/Nouveau</button>
                        <div class="mr-5"></div>
                        <button mdbBtn class="btn-rounded" type="button" color="light" size="sm" mdbWavesEffect>Jeu simple</button>
                        <button mdbBtn class="btn-rounded" type="button" color="secondary" size="sm" mdbWavesEffect>Non sortant</button>
                        <button mdbBtn class="btn-rounded" type="button" color="info" size="sm" mdbWavesEffect>Tout dedans</button>
                        <button mdbBtn class="btn-rounded" type="button" color="dark" size="sm" mdbWavesEffect>Tirage aléatoire</button>
                    </div>
                </div>
                <table mdbTable>
                    <thead class="unique-color-dark white-text">
                        <tr>
                            <th scope="col">Numero tirage</th>
                            <th scope="col">Pronostique</th>
                            <th scope="col">Type de pari</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr mdbTableCol *ngIf="pariSelectedName !== ''">
                            <td>{{lastTirageNum + 1}}</td>
                            <td>{{pronostique}}</td>
                            <td>{{pariSelectedName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="coupon-block z-depth-1-half">
                <div class="coupon-title">
                    Coupon
                </div>
                <div class="coupon-form">
                    <div class="form-group">
                        <label for="mise" class="custom-label"> Apport (Montant mise)</label>
                        <input type="text" id="mise" mdbInput class="form-control" [(ngModel)]="montantMise" (keyup)="fillInFields($event)" (keypress)="numericOnly($event)" (blur)="onBlurAmountField($event)" (focus)="onFocusAmountField($event)">
                    </div>
                    <div class="form-group">
                        <label class="custom-label"> Apport minimum</label>
                        <input type="text" class="form-control" [ngModel]="minMise" disabled>
                    </div>
                    <div class="form-group">
                        <label class="custom-label"> Gain éventuel</label>
                        <input type="text" class="form-control" [ngModel]="gainEventuel" disabled>
                    </div>
                    <div class="form-group">
                        <label class="custom-label"> Bonus </label>
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label class="custom-label"> Multiplicateur </label>
                        <div class="container-fluid row">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="multiValue" [(ngModel)]="multiValue" [value]="true" id="trueVal" />
                                <label class="custom-control-label" for="trueVal"> Oui </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="multiValue" [(ngModel)]="multiValue" [value]="false" id="falseVal" />
                                <label class="custom-control-label" for="falseVal"> Non </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <button mdbBtn type="button" color="primary" block="true" mdbWavesEffect>Imprimer</button>
                        <button mdbBtn type="button" color="danger" block="true" mdbWavesEffect>Annuler</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator">
        </div>
        <div class="container-fluid">
            <div class="title-offers">
                Offres disponibles
            </div>
            <table mdbTable striped="true" small="true" class="scrollable-table">
                <thead class="black white-text">
                    <tr>
                        <th scope="col">Offre</th>
                        <th scope="col">Description</th>
                        <th scope="col">Raccourci</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr mdbTableCol *ngFor="let pari of betsAvailables;">
                        <td>{{pari.nom}}</td>
                        <td>{{pari.description}}</td>
                        <td>{{pari.raccourci}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>