<body *ngIf="showlogin==true" class="contain">
  <div class="container">
    <div class="row justify-content-center" > <!-- *ngIf="showlogin==true" -->
      <div class="col-md-6 text-center mb-1 mt-5">
        <img class="image" src="assets/img/super.png" style="height: 100px; width: 200px" />
      </div>
    </div>
    <div class="row justify-content-center">  <!-- *ngIf="showlogin==true" -->
      <div class="col-md-7 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fas fa-user-o"></span>
          </div>
          <h3 class="text-center mb-4">CONNEXION</h3>
          <form name="form" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit()">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
              Login failed: {{ errorMessage }}
            </div>
            <div class="form-group">
              <input mask="999-999" class="form-control form-control-lg text-center" type="text" [(ngModel)]="form.cle" required
                #cle="ngModel" [maxLength]="7" placeholder="999-999" name="email" required />
              <div style="position: relative; margin-top: 0px; color:red" role="alert"
                *ngIf="cle.errors && f.submitted">
                {{ 'Cle requise' }}
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                Se connecter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="spinner-grow" *ngIf="displaySpinner" style="width: 3rem; height: 3rem; z-index: 9999;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div *ngIf="displaySpinner">En cours de connexion ...</div>
    </div>
  </div>
</body>


<div *ngIf="showlogin==false" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; border: solid 1px white">
  <div style="position: absolute; width: 80px; height: 60px; top:0; bottom:0; left:0; right: 0; margin: auto; border: solid 1px white ">
    <h1 style="font-size: 100px;">{{count}}</h1>
  </div>  
</div>  

<!-- <div  class="text-center mt-5" >
  <h1>{{count}}</h1>
</div> -->



