<div class="layout">
    <div class="d-flex flex-row" style="height: 98vh;">
        <div class="d-flex flex-column justify-content-between align-items-center block-left">
            <div class="title-box">
                Super1Bet
            </div>
            <app-balls-container [ballContainerRadius]="12" [ballRadius]="1.2"></app-balls-container>
            <app-pari-item [pari]="pariKS[8]" style="width: 85%;"> </app-pari-item>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="jackpot-box d-flex flex-row justify-content-around">
                <div class="jackpot-block d-flex flex-column justify-content-between align-items-center">
                    <div class="label-up-block">
                        jackpot
                    </div>
                    <div class="jackpot-value">
                        {{jackpot | number:'1.0-0'}}
                    </div>
                </div>
                <div class="cagnotte-block d-flex flex-column justify-content-between align-items-center">
                    <div class="label-up-block">
                        Mega jackpot
                    </div>
                    <div class="cagnotte-value">
                        {{megajackpot  | number:'1.0-0'}}
                    </div>
                </div>
                <div class="time-block d-flex flex-column justify-content-between align-items-center">
                    <div class="label-up-block">
                        TIME
                    </div>
                    <div class="time-value">
                        {{secondsRemaining}}
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row block-center">
                <div class="d-flex flex-column justify-content-between align-items-center quart-width">
                    <app-pari-item [pari]="pariKS[0]" class="plenty-width"> </app-pari-item>
                    <app-pari-item [pari]="pariKS[7]" class="plenty-width"></app-pari-item>
                </div>
                <div class="d-flex flex-column justify-content-between align-items-center quart-width">
                    <app-pari-item [pari]="pariKS[1]" class="plenty-width"> </app-pari-item>
                    <app-pari-item [pari]="pariKS[6]" class="plenty-width"></app-pari-item>
                </div>
                <div class="d-flex flex-column justify-content-between align-items-center quart-width">
                    <app-pari-item [pari]="pariKS[2]" class="plenty-width"> </app-pari-item>
                    <app-pari-item [pari]="pariKS[5]" class="plenty-width"></app-pari-item>
                </div>
                <div class="d-flex flex-column justify-content-between align-items-center quart-width">
                    <app-pari-item [pari]="pariKS[3]" class="plenty-width"> </app-pari-item>
                    <app-pari-item [pari]="pariKS[4]" class="plenty-width"></app-pari-item>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column  justify-content-between align-items-center block-right">
            <app-pari-item [pari]="pariTD" style="width: 85%;"></app-pari-item>
            <app-pari-item [pari]="pariNS" style="width: 85%;"> </app-pari-item>
        </div>
    </div>
</div>